.nav-container {
    background-color: #fafafa;
    width: 300px;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
    transition: 0.5s;
    transition: all .3s ease-in-out;
    border-right: 1px solid;
}
.nav-container h2 {
    padding: 10px;
    margin: 10px;
}
.filter-category-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    height: 100%;
    gap: 5px;
}
.category-button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 7px;
    width: 80%;
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
}
.category-button:hover{
    background-color: lightgrey;
}
.category-btn-name {
    padding-left: 10px;
    padding: 0;
}
.category-btn-name:after {
    background-color: red;
}