.main-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
.flex-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.item-card-container{
    padding: 10px;
    gap: 10px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    border-top: 1px solid #bbbbbb;
    background-color: #ffffff;
}
.image-container {
    display: flex;
    width: 50%;
    justify-content: center;
    height: 100%;
}
.image-container img {
    min-height: 100%;
}
a{
    text-decoration: none;
}
.featured-container {
    background: url('../assets/cover.webp');
    min-height: 100vh;
    background-size:contain;
    display: flex;
    background-size: cover;
}
.text-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro-card {
    background-color: #ffffff;
    max-width: 450px;
    padding: 20px;
}
.intro-card h2 {
    font-size: 50px;
}
.intro-card p {
    font-size:  24px;
}
.product-card {
    max-width: 250px;
    box-shadow: 0 2px 7px #dfdfdf;
    background: #fafafa;
    text-align: left;
    max-height: 370px;
}


.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 15px;
}

.item-category {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}
.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
    color: #999;
    word-wrap: break-word;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.product-bottom-details div {
    float: left;
    width: 40%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.card-button {
    all:unset;
    background-color: #fbb72c;
    color: #e1e1e1;
    white-space: nowrap;
    font-family: Verdana;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.card-button:hover{
    color: #fbb72c;
    background-color: #e1e1e1;
}
.fa {
    padding-right: 10px;
}
.filter-container {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.category-flex {
    display: flex;
    gap: 10px;
}
.filter-background {
    position: relative;
}
.filter-message {
    font-size: 50px;
    margin: 10px;
    text-transform: capitalize;
}
.filter-message-div {
    padding: 10px;
    background-color: #ffffff;
}
.category-button {
    all: unset;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: all .2s ease-in-out;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(41, 40, 40);
}
.btn-active {
    color: green;
    border-bottom: 2px solid green;
    background-color: #f3f3f3;
    border-radius: 5px 5px 0 0 ;
    transform: translateY(-3px);
}
.category-button:hover{
    box-shadow: 0 6px 10px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px 3px 0px 0px;
    transform: translateY(-3px);
}

.category-btn-name:after {
    background-color: red;
}
@media screen and (max-width: 600px) {
    .item-card-container {
        justify-content: center;

    }
    .product-card {
        width: 80%;
    }
}